<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>URL Shortener</h1>
        <input type="text" id="urlInput" placeholder="Вставьте длинную ссылку...">
        <button onclick="shortenUrl()">Сократить</button>

        <div id="result" class="hidden">
            <p>Короткая ссылка:</p>
            <a id="shortLink" href="#" target="_blank"></a>
        </div>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>